.todo {
	padding: 5px 0 5px;
	/* text-overflow: ellipsis; */
	/* overflow: hidden; */
}

.todo div {
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	list-style: circle;
}

.todo a {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 10px;
}

.checked {
	text-decoration: line-through;
}
