.todoForm {
	margin-top: 50px;
}

.todoForm input[type='text'] {
	font-size: 20px;
	width: 400px;
	height: 40px;
	padding: 0 20px 0;
	box-sizing: border-box;
	border-color: darkcyan;
	border-radius: 10px 0 0 10px;
}

.todoForm input[type='submit'] {
	font-size: 20px;
	height: 40px;
	border: none;
	background-color: darkcyan;
	color: white;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
}

.todoForm input[type='submit']:hover {
	background-color: rgb(0, 181, 181);
}

.todoForm input:disabled {
	background-color: rgb(105, 105, 105);
	cursor: not-allowed;
}

.todoForm span {
	color: red;
}
